.hero {
  background-image: url('../../assets/heroImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1316px;
  height: 592px;
  margin: 0 auto;
}

.article {
  padding: 76px 40px 96px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 45px;
  width: 509px;
  height: 483px;
  background-color: #fff;
}
