* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 1366px;
  margin: 0 auto;
}

.title {
  font-size: 33px;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #8d8d8d;
}

.meta {
  color: #8d8d8d;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.desc {
  margin-top: 14px;
  max-width: 430px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}
.heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.heading {
  font-size: 42px;
  font-family: "Open Sans", sans-serif;
  color: #1C1C1C;
}

.heading-line {
  margin-top: 15px;
  width: 190px;
  border: 3px solid #1C1C1C;
}
/* -------------------- */
.main-article {
  display: flex;
  justify-content: center;
  column-gap: 120px;
}

.tags {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}

.tags-item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 22px;
}