* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.title {
  font-size: 33px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #8d8d8d;
}

.meta {
  color: #8d8d8d;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.desc {
  margin-top: 14px;
  max-width: 430px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}
.heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.heading {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
}

.heading-line {
  margin-top: 15px;
  width: 190px;
  border: 3px solid #1c1c1c;
}
/* -------------------- */

.hero {
  background-image: url('../src/assets/heroImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1316px;
  height: 592px;
  margin: 0 auto;
}

.article {
  padding: 76px 40px 96px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 45px;
  width: 509px;
  height: 483px;
  background-color: #fff;
}

.allArticleRow {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.main-article {
  display: flex;
  justify-content: center;
  column-gap: 120px;
}

.tags {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}

.tags-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 22px;
  cursor: pointer;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-box {
  margin-top: 76px;
}

/* form */
.forms {
  margin-top: 100px;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-top: 23px;
}

.input {
  display: flex;
  align-items: center;
  width: 324px;
  height: 58px;
  background-color: #F8F8F8;
  border-radius: 10px;
  column-gap: 15px;
  padding: 15px;
}

.input input {
  border: none;
  background-color: inherit;
  outline: none;
}

.input input::placeholder {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  font-size: 16px;
}